In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [13]:
df=pd.read_csv("D:\\linera_regression_multivariate\\homeprices.csv")

In [14]:
 df

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         4   18  610000
3  3600         3   30  595000
4  4000         5    8  760000
5  4100         6    8  810000
6  5000         2    1   99999

In [15]:
 df.head(3)

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         4   18  610000

In [16]:
 df.head(2)

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000

In [17]:
 reg=linear_model.LinearRegression()

In [18]:
 reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [19]:
reg.predict([[2300,4,10]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([576667.71751829])

In [21]:
reg.coef_

array([-2.00180387e+01,  1.59859209e+05,  1.00451250e+04])

In [22]:
reg.intercept_

-117178.8807795432

In [25]:
2300*-2.00180387e+01+4*1.59859209e+05+10*1.00451250e+04+(-117178.8807795432)

576667.7162104568