In [2]:
import pandas as pd
import numpy as np
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-2-8e9397ac957d>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [7]:
data = np.array([1,2,3,4,5])
data1 = np.array(['a','b','c','d','e'])
s = pd.Series(data)
s1 = pd.Series(data1,index=[10,11,12,13,14])
print(s)
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int32
10    a
11    b
12    c
13    d
14    e
dtype: object

In [10]:
data = {'Tejas' : 15.5, 'Tej' : 16.5, 'TP' : 2.56}
s = pd.Series(data)
print(s)

Tejas    15.50
Tej      16.50
TP        2.56
dtype: float64

In [11]:
data = {'Tejas' : 8.8, 'Tej' : 8.35, 'TP' : 8.4}
s = pd.Series(data,index = ['TP','Tejas','Tejasss','Tej'])
print(s)

TP         8.40
Tejas      8.80
Tejasss     NaN
Tej        8.35
dtype: float64

In [14]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s)
print(s[0])

a    1
b    2
c    3
d    4
e    5
dtype: int64
1

In [15]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [17]:
import pandas as pd
data = [['Tejas',20],['Ketan',20],['Abhi',19]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

    Name  Age
0  Tejas   20
1  Ketan   20
2   Abhi   19